@model PM_MVC.ViewModels.UserErrorViewModel

<div class="user-error-container">
    <label>
        User Error Id:
    </label>
    <p>
        @Model.UserErrorId
    </p>
    <label>
        Created time:
    </label>
    <p>
        @Model.CreatedTime
    </p>
    <label>
        Notes:
    </label>
    <p>
        @Model.Notes
    </p>
    <div class="details-link">
        <a  asp-controller="UserErrors" asp-action="Details" asp-route-userErrorId=@Model.UserErrorId>Details</a>
    </div>
</div>