@model IEnumerable<PM_MVC.ViewModels.UserErrorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@foreach (var error in Model)
{
    @await Html.PartialAsync("_UserError", error,
            new ViewDataDictionary(ViewData));
}