
@{
    ViewData["Title"] = "Error";
}

<h1>Error Occured!</h1>

<h2>Error message</h2>
<p>
    @ViewData["ExceptionMessage"]
</p>

<h2>Stack trace</h2>
<p>
    @ViewData["ExceptionStackTrace"]
</p>

