@model IEnumerable<PM_MVC.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>@TempData["Test"]</h2>

@foreach(var p in Model)
{
    @await Html.PartialAsync("_Product", p);
}


